/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-font-size-base: 16px;
  --ifm-code-font-size: 90%;
  --ifm-background-color: var(--white);
  --ifm-color-primary: #006bbf;
  --ifm-footer-background-color: var(--grey-100);
  --ifm-menu-color-background-active: var(--ifm-color-emphasis-200);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */

[data-theme="dark"] {
  --ifm-font-base-color: #dee0f2;
  --ifm-navbar-link-hover-color: #47adff;
  --ifm-link-color: #47adff;
  --ifm-menu-color-active: #47adff;
  --ifm-background-color: #090e12;
  --ifm-footer-background-color: #090e12;
  --ifm-navbar-background-color: #21243d;
  --ifm-menu-color-background-active: #21243d;
}
